<div
  class="bg-[#111b33] overflow-y-auto w-screen h-screen antialiased text-blue-200 selection:border-blue-300/20 selection:text-white"
>
  <div class="flex flex-col relative w-screen">
    <div
      id="menu"
      class="bg-[#2D3957] min-h-screen z-10 text-blue-200 w-78 fixed left-0 h-screen overflow-y-auto border-r-1 border-blue-300/20"
    >
      <div id="logo" class="my-4 px-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 48 48"
          class="mb-2 w-16 shrink-0 mx-auto"
        >
          <g fill="none" stroke="#bedbff" stroke-linejoin="round" stroke-width="4">
            <path fill="#bedbff" d="M36 35H12V21c0-6.627 5.373-12 12-12s12 5.373 12 12z" />
            <path stroke-linecap="round" d="M8 42h32M4 13l3 1m6-10l1 3m-4 3L7 7" />
          </g>
        </svg>
        <h1
          class="text-lg md:text-2xl text-center font-bold text-blue-200 text-shadow-[1px_2px_1px_rgb(0_0_0_/_0.9)]"
        >
          ReportHub.
        </h1>
        <p class="text-zinc-400 text-sm text-center text-shadow-[1px_1px_1px_rgb(0_0_0_/_0.5)]">
          Gestiona y reporta las emergencias de tu comuna.
        </p>
      </div>
      <div id="profile" class="px-6 py-10">
        <p class="text-zinc-400 text-shadow-[1px_1px_1px_rgb(0_0_0_/_0.5)]">Bienvenido,</p>
        <a href="#" class="inline-flex space-x-2 items-center">
          <span class="text-sm md:text-base text-shadow-[1px_2px_1px_rgb(0_0_0_/_0.5)]">
            Gerardo Gallardo
          </span>
        </a>
      </div>
      <div id="nav" class="w-full px-6">
        <a
          href="#"
          class="w-full px-2 inline-flex space-x-2 items-center border-b border-blue-300/10 py-3 hover:bg-blue-300/10 transition ease-linear duration-150"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
              />
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="text-md leading-5 text-blue-200 text-shadow-[1px_2px_1px_rgb(0_0_0_/_0.5)]"
              >Panel control</span
            >
          </div>
        </a>
        <a
          href="#"
          class="w-full px-2 inline-flex space-x-2 items-center py-3 hover:bg-blue-300/10 transition ease-linear duration-150"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="128"
              height="128"
              viewBox="0 0 24 24"
              class="w-6 h-6"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M5.25 4.593v8.903q.162-.053.34-.108c.761-.231 1.788-.488 2.66-.488c1.418 0 2.74.432 3.934.821l.049.016c1.245.406 2.358.763 3.517.763c.936 0 2.256-.36 3-.593V5.073c-.806.232-2.015.527-3 .527c-1.418 0-2.74-.432-3.934-.821l-.049-.016C10.522 4.357 9.41 4 8.25 4c-.652 0-1.51.178-2.248.375c-.287.076-.545.153-.752.218m0 10.488c.21-.075.479-.167.777-.258c.737-.224 1.586-.423 2.223-.423c1.16 0 2.272.357 3.517.763l.049.016c1.193.39 2.516.821 3.934.821c1.289 0 2.977-.507 3.648-.725c.522-.168.852-.653.852-1.177V4.759c0-.87-.85-1.448-1.642-1.208c-.781.237-1.99.549-2.858.549c-1.16 0-2.272-.357-3.517-.763l-.049-.016C10.991 2.931 9.668 2.5 8.25 2.5c-.858 0-1.874.222-2.635.425a21 21 0 0 0-1.337.408l-.021.008l-.006.002h-.002l.251.707l-.252-.706a.75.75 0 0 0-.498.706v16.7a.75.75 0 0 0 1.5 0z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="text-md leading-5 text-blue-200 text-shadow-[1px_2px_1px_rgb(0_0_0_/_0.5)]"
              >Reportes de emergencias</span
            >
          </div>
        </a>
        <a
          href="#"
          class="w-full px-2 inline-flex space-x-2 items-center py-3 border-t border-blue-300/10 hover:bg-blue-300/10 transition ease-linear duration-150"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="128"
              height="128"
              viewBox="0 0 32 32"
              class="w-6 h-6"
            >
              <path
                fill="currentColor"
                d="M16 4a5 5 0 1 1-5 5a5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7a7 7 0 0 0-7-7m10 28h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z"
              />
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="text-md leading-5 text-blue-200 text-shadow-[1px_2px_1px_rgb(0_0_0_/_0.5)]"
              >Gestión de usuarios</span
            >
          </div>
        </a>
      </div>
      <div class="absolute bottom-20 w-full px-6">
        <a
          href="#"
          class="w-full px-2 inline-flex space-x-2 py-3 border-t border-blue-300/10 hover:bg-blue-300/10 transition ease-linear duration-150"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="128"
              height="128"
              viewBox="0 0 24 24"
              class="w-6 h-6"
            >
              <path
                fill="currentColor"
                d="M20.968 18.448a2.577 2.577 0 0 1-2.73 2.5c-2.153.012-4.306 0-6.459 0a.5.5 0 0 1 0-1c2.2 0 4.4.032 6.6 0c1.107-.016 1.589-.848 1.589-1.838V5.647A1.55 1.55 0 0 0 19 4.175a3 3 0 0 0-1.061-.095h-6.16a.5.5 0 0 1 0-1c2.224 0 4.465-.085 6.687 0a2.567 2.567 0 0 1 2.5 2.67Z"
              />
              <path
                fill="currentColor"
                d="M3.176 11.663a.46.46 0 0 0-.138.311q.002.021-.006.043c-.008.022 0 .027.006.041a.46.46 0 0 0 .138.312l3.669 3.669a.5.5 0 0 0 .707-.707l-2.815-2.816h10.742a.5.5 0 0 0 0-1H4.737L7.552 8.7a.5.5 0 0 0-.707-.707Z"
              />
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="text-mdleading-5 text-blue-200 text-shadow-[1px_2px_1px_rgb(0_0_0_/_0.5)]"
              >Cerrar sesión</span
            >
          </div>
        </a>
      </div>
    </div>
    <div class="flex-1 ml-78 pt-5 px-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
